<html lang="en">

<%- include('./partials/head.ejs') %>


<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About me</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat amet ab consequatur voluptas ipsa omnis ex
            aut consectetur rem eaque, dignissimos hic voluptatibus accusamus repellendus modi natus, dicta distinctio a
            nemo at illum nam inventore odit quibusdam! Asperiores soluta nam nisi doloribus nihil, laudantium facilis
            nesciunt, fugit, at quia quidem.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat amet ab consequatur voluptas ipsa omnis ex
            aut consectetur rem eaque, dignissimos hic voluptatibus accusamus repellendus modi natus, dicta distinctio a
            nemo at illum nam inventore odit quibusdam! Asperiores soluta nam nisi doloribus nihil, laudantium facilis
            nesciunt, fugit, at quia quidem.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat amet ab consequatur voluptas ipsa omnis ex
            aut consectetur rem eaque, dignissimos hic voluptatibus accusamus repellendus modi natus, dicta distinctio a
            nemo at illum nam inventore odit quibusdam! Asperiores soluta nam nisi doloribus nihil, laudantium facilis
            nesciunt, fugit, at quia quidem.</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>

</html>